# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env/

# --- Jupyter Notebook ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Spark / Hadoop / Delta Lake ---
metastore_db/
derby.log
spark-warehouse/
checkpoint/
_delta_log/
.delta_log/
*.lzo
*.snappy

# --- Project Data & Logs ---
data/
*.log

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# --- OS Specific ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
